html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color:#FBF5DD;
}

.navbar {
    background-color: #16404D;
    padding:10px;
    text-align: right;
}

.navbar ul {
    list-style:lower-alpha;
    margin: 5px;
    padding: 5px;
}

.navbar li {
    display: inline;
    font-size: 25px;
}

.navbar a {
    color:white;
    text-decoration: none;
    padding: 15px 20px;
}

.navbar a:hover {
    background-color:#DDA853;
    size: 5px 10px;
    border-radius: 30px;
}

.icon { 
    position: absolute;
    width: 55px;
    height: 55px;
    left: 10px;
    top: 5px;
}

.fo {
    color: white;
    font-family:'Inria' Serif;
    font-size: 40px;
    text-align: left;
    position: absolute;
    left: 80px;
}

.container {
    position: relative;
}

.footer {
   position:relative;
   top: 50rem;
}

/* .rectangle-5 {
    background-color: #16404D;
    border-radius: 100px 100px 0px 0px;
    position: relative;
    width: 60rem;
    height: 18rem;
    top: 83rem;
    left: 9.5rem;
} */

/* .footer {
    background-color: #16404D;
    border-radius: 100px 100px 0px 0px;
    margin-top: 85rem;
    padding-top: 21rem;
    margin-left: 80px;
    margin-right: 200px; 
    position: relative;
    width: 70rem;
    height: 50px;
    
}
.log {
    background: #a6cdc6;
    border-radius: 100px;
    position: absolute;
    width: 84px;
    height: 80px;
    left: auto;
    top: auto;
    bottom: 250px;
    margin-left: 50px;
}
.line {
    background-color: #a6cdc6;
    position: relative;
    padding-top: 14px;
    top: auto;
}
.smk {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Black", sans-serif;
    font-size: 14px;
    font-weight: 900;
    position: absolute;
    top:auto;
    left: auto;
}
.front {
    color: #ffffff;
    font-family: "inter-black", sans-serif;
    font-size: 34px;
    font-weight: 900;
    position: absolute;
    left: auto;
    top: auto;
}
.almt {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    font-family: "inter-black", sans-serif;
    position: absolute;
    top: auto;
    left: auto;
}
.abt {
    color: #ffffff;
    font-size: 30px;
    font-family: "inter-black", sans-serif;
    font-weight: 700;
    position: absolute;
    top: auto;
    left: auto;
}
.isi {
    color: #ffffff;
    font-size:20px;
    font-family: "inter-black", sans-serif;
    position: absolute;
    width: auto;
    top: auto;
}
.copy {
    font-family: "inter-black", sans-serif;
    position: absolute;
    top: auto;
    left: auto;
}

.teks {
    font-family:  serif;
    font-size: 200px;
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    padding: 100px;
} */


.judul {
    color: #16404d;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:8vh;
    font-weight: 400vw;
    position: relative;
    top: 150px;
  }


.text {
    position: relative;
    top: 500px;
    left: 50px;
}
.rectangle-1 {
    background: #a6cdc6;
    border: 4px solid #000000;
    border-radius: 8rem;
    width: 45vw;
    height: 50vh;
    position: relative;
}
.penjelasan {
    color: #000000;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4.5vh;
    font-weight: 15vw;
    position: relative;
    bottom: 17rem;
    left: 2rem;
    width: 40vw;
    height: 45vh;
}

.circle{
    border: 30px solid #dda853;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    right: 0px;
    width: 48vw;
    height: 90vh;
    top: 30rem;
  }

/* .circle {
    border-radius: 50%;
    border-style: solid;  
    border-color: #dda853;
    border-width: 30px;
    height: 578px;
    width: 600px;
    position: relative;
    top: 250px;
    left: 695px;
    object-fit: cover;
} */

.but1 {
    position: static;
    padding-top: 430px;
    margin-left: 55px;
}
.rectangle-2 {
    background: #16404d;
    border-radius: 30px;
    width: 240px;
    height: 280px;
    position: absolute;
    left: auto;
    top: auto; 
    box-shadow: 15px 20px 20px 10px rgba(0, 0, 0, 0.6);
}
.rectangle-3 {
    background: #a6cdc6;
    border-radius: 10px;
    width: 180px;
    height: 210px;
    position: absolute;
    left: auto;
    top: auto;
    margin-top: 35px;
    margin-left: 30px;
}
.jdl1 {
    color: #000000;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    left: auto;
    top: auto;
    width: 183px;
    height: 153px;
    margin-top: 70px;
    margin-left: 40px;
}

.rectangle-4 {
    border: 4px solid #000000;
    border-radius: 2rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 100vh;
    position: relative;
    top: 35rem;
  }

/* .rectangle-4 {
    text-align: center;
    border: 4px solid #000000;
    border-radius: 2rem;
    object-fit: cover;
    position: relative;
    width: 80vw;
    height: 100vh;
    top: 30rem;
    left: 7.5rem;
  } */
/* .rectangle-4 {
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 4.5px;
    width: 1050px;
    height: 670px;
    position: absolute;
    object-fit: cover;
    left: 105px;
    top: 110rem;
} */


.judul_struktur {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    font-weight: 20px;
    top: 50px;
}

.lin{
    background-color: #000000;
}

.gambar_logo {
    border-radius: 100px;
    border-style: solid;
    border-color: #000000;
    border-width: 5px;
    width: 800px;
    height: 550px;
    left:460px;
    right: 10px;
    position: absolute;
    bottom:2rem;
}

.gambar_logo2 {
    width: 50px;
    height: 80px;
}


<<<<<<< HEAD
=======

.front_1 {
    color: #ffffff;
    font-family: "inter-black", sans-serif;
    font-size: 34px;
    position: absolute;
    left: 170px;
    top: 50px;
    font-weight: 900;
}

.smk_2 {
    color: #ffffff;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 14px;
  font-weight: 900;
  position: absolute;
  top: 90px;
  left: 170px;
}

.almt_2 {
    position: absolute;
   top: 12rem;
    left: 60px;
    font-size: 14px;
    font-weight: 700;
    font-family: "imter-black", sans-serif;
    color: #ffffff;
}

.isi_1 {
    position: absolute;
    top: 100px;
    font-size:20px;
    font-weight: 70;
    color: #ffffff;
    font-family: "imter-black", sans-serif;
}

.copy_1 {
    top: 13px;
    position: absolute;
    left: 150px;
    font-family: "imter-black", sans-serif;
}

.abt_2 {
    position: absolute;
    top: 60px;
    left: 550px;
    font-size: 30px;
    font-family: "inter-black", sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.line_2 {
     position: relative;
     padding-top: 14px;
     background-color: #a6cdc6;
      top: -16px;
}

.teks {
    position: absolute;
    top: -18rem;
    left: 230px;
    right: 230px;
    font-family:  serif;
    padding: 100px;
    font-size: 200px;
}
>>>>>>> 3be7d43e58ff46d57bccc3a972f99935bf76aa2b
