html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color:#FBF5DD;
}

.navbar {
    background-color: #16404D;
    padding:10px;
    text-align: right;
}
.navbar ul {
    list-style:lower-alpha;
    margin: 5px;
    padding: 5px;
}
.navbar li {
    display: inline;
    font-size: 25px;
}
.navbar a {
    color:white;
    text-decoration: none;
    padding: 15px 20px;
}
.navbar a:hover {
    background-color:#DDA853;
    size: 5px 10px;
    border-radius: 30px;
}
.icon { 
    position: absolute;
    width: 55px;
    height: 55px;
    left: 10px;
    top: 5px;
}
.fo {
    color: white;
    font-family:'Inria' Serif;
    font-size: 40px;
    text-align: left;
    position: absolute;
    left: 80px;
}

.container {
    position: relative;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    position: static;
    top: 20rem;
    right: 6.5rem;
    width: 85vw;
}
.rap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.circle2 {
    background-color: #a6cdc6 ;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    width: 6vw;
    height: 11vh;
    top: 3rem;
    left: 5rem;
}
.linez {
    margin-top: 1rem;
    border-style: solid;
    border-color: #a6cdc6;
    border-width: 7px 0 0 0;
    width: 68rem;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 261px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}
.alamatz {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    left: 5rem;
    bottom: 7rem;
}
.jdlf {
    color: #ffffff;
    font-family: "Inter-SemiBold", sans-serif;
    text-align: left;
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    left: 11rem;
    top: 2.8rem;
}
.jdls {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-ExtraBoldItalic", sans-serif;
    font-size: 13px;
    font-weight: 800;
    font-style: italic;
    position: absolute;
    left: 11rem;
    top: 5rem;
}
.about-fo {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 30rem;
    top: 3.2rem;
}
.abtfo {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 30rem;
    top: 6rem;
    width: 7rem;
}
.features {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 40rem;
    top: 3.2rem;
}
.feature {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 38.5rem;
    top: 5rem;
}
.about-us {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 49rem;
    top: 3.2rem;
}
.abtus {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 49rem;
    top: 5rem;
}
.span1 {
    color: #ffffff;
    list-style-type: disc;
    padding-left: 1em;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.span2 {
    color: #ffffff;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.cp {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    left: 13rem;
    bottom: 1rem;
}

.judul {
    color: #16404d;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:8vh;
    font-weight: 400vw;
    position: relative;
    top: 150px;
}

.text {
    background-color: #a6cdc6;
    border: 4px solid #000000;
    border-radius: 5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40vw;
    height: 45vh;
    margin-top: 35rem;
    margin-left: 3rem;
}

.circle{
    border: 30px solid #dda853;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    right: 0px;
    width: 48vw;
    height: 90vh;
    top: 30rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    position:static;
}
.but1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangle-2 {
    background: #16404d;
    border-radius: 2rem;
    width: 19vw;
    height: 41.5vh;
    position: absolute;
    left: auto;
    top: auto; 
    
}
.rectangle-2:hover {
    box-shadow: 1rem 1.5rem 1.5rem 1rem rgba(0, 0, 0, 0.6);
    transition: 0.2s;
}
.rectangle-3 {
    background-color: #a6cdc6;
    border-radius: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vh;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 14vw;
    height: 31vh;
   
}

.rectangle-4 {
    border: 4px solid #000000;
    border-radius: 2rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 100vh;
    position: relative;
    top: 15rem;
}


.ttlso {
    color: #16404d;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 7vh;
    font-weight: 400vw;
    position: relative;
    top: 150px;
}

.lgjtm {
    margin-top: 0rem;
    margin-left: 7rem;
}

.lgsmk {
    margin-right: 8rem;
}

.sosmk {
    background-color: #a6cdc6;
    border: 4px solid #000000;
    border-radius: 6rem;
    object-fit: cover;
    position: relative;
    width: 98vw;
    height: 197vh;
    top: 10rem;
}

.stu {
    background-color: #a6cdc6;
    border: 4px solid #000000;
    border-radius: 6rem;
    object-fit: cover;
    position: relative;
    width: 100vw;
    height: 200vh;
    top: 10rem;  
}




.judul_struktur {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    font-weight: 20px;
    margin-top: 90px;
    margin-right: 90px;
}

.lin{
    background-color: #000000;
}

.gambar_logo {
    border-radius: 100px;
    border-style: solid;
    border-color: #000000;
    border-width: 5px;
    width: 55vw;
    height: 95vh;
    left: 345px;
    position: relative;
    bottom:10rem;
    top: 170px;
    object-fit: cover;
}

.gambar_logo2 {
    position: absolute;
    width: 100px;
    height: 135px;
    right: 1370px;
    margin-left: 145px;
   top: 145px;
    
}
    
.footer{
    background-color: #16404D;
    border-radius: 100px 100px 0px 0px;
    margin-top: 3rem;
    padding-top: 21rem;
    margin-left: 200px;
    margin-right: 200px; 
    position: relative;

}

.logo_2{
    background: #a6cdc6;
    border-radius: 100px;
    width: 94px;
    height: 90px;
    position: absolute;
    left: 60px;
    margin-top: -17rem;
}

.footer1 {
    background-color: #16404D;
    border-radius: 100px 100px 0px 0px;
    margin-top: 3rem;
    padding-top: 21rem;
    margin-left: 200px;
    margin-right: 200px; 
    position: relative;
    
}

.front_1 {
    color: #ffffff;
    font-family: "inter-black", sans-serif;
    font-size: 34px;
    position: absolute;
    left: 170px;
    top: 50px;
    font-weight: 900;
}

.smk_2 {
    color: #ffffff;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 14px;
  font-weight: 900;
  position: absolute;
  top: 90px;
  left: 170px;
}

.almt_2 {
    position: absolute;
   top: 12rem;
    left: 60px;
    font-size: 14px;
    font-weight: 700;
    font-family: "imter-black", sans-serif;
    color: #ffffff;
}

.isi_1 {
    position: absolute;
    top: 100px;
    font-size:15px;
    font-weight: 70;
    color: #ffffff;
    font-family: "imter-black", sans-serif;
}

.copy_1 {
    top: 13px;
    position: absolute;
    left: 150px;
    font-family: "imter-black", sans-serif;
}

.abt_2 {
    position: absolute;
    top: 60px;
    left: 480px;
    font-size: 30px;
    font-family: "inter-black", sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.line_2 {
     position: relative;
     padding-top: 14px;
     background-color: #a6cdc6;
      top: -16px;
}


.teks {
    position: absolute;
    top: -18rem;
    left: 230px;
    right: 230px;
    font-family:  serif;
    padding: 100px;
    font-size: 200px;
}


.gambar_logo3 {
    position: absolute;
    width: 150px;
    height: 130px;
    left: 1050px;
    margin-left: 370px;
   top: 145px;
    
}

.gambar_logo4 {
    position: absolute;
    width: 155px;
    height: 135px;
    left: 885px;
    margin-left: 370px;
   top: 145px;
}

