.desktop-3,
.desktop-3 * {
  box-sizing: border-box;
}
.desktop-3 {
  background: #fbf5dd;
  height: 6127px;
  position: relative;
  overflow: hidden;
}
.group-120 {
  position: absolute;
  inset: 0;
}
.rectangle-8 {
  background: #16404d;
  border-radius: 90px;
  width: 1194px;
  height: 664px;
  position: absolute;
  left: 140px;
  top: 5795px;
}
.beranda-struktur-fasilitas-faq {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 861px;
  top: 5880.1px;
  width: 81px;
  height: 67.29px;
}
.fo-adalah-salah-satu-fasilitas-di-smkn-1-banyuwangi-yang-mencakup-berbagai-hal {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 680px;
  top: 5880.1px;
  width: 125px;
  height: 118.75px;
}
.maulana-dinar-pratama-12-maya-ayu-rosita-m-13-mild-apriliana-17-rahma-sarita-adenan-28-vaneilzha-kheyra-a-33-student-of-smkn-1-banyuwangi {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 1027px;
  top: 5880.1px;
  width: 213px;
  height: 117.76px;
}
.maulana-dinar-pratama-12-maya-ayu-rosita-m-13-mild-apriliana-17-rahma-sarita-adenan-28-vaneilzha-kheyra-a-33-student-of-smkn-1-banyuwangi-span {
  color: #ffffff;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.maulana-dinar-pratama-12-maya-ayu-rosita-m-13-mild-apriliana-17-rahma-sarita-adenan-28-vaneilzha-kheyra-a-33-student-of-smkn-1-banyuwangi-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.rectangle-11 {
  background: #a6cdc6;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
  width: 1279px;
  height: 5461px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 126px;
  filter: blur(2px);
}
.tempat-ini-biasanya-di-gunakan-untuk-pertemuan-para-tamu-dengan-kepala-sekolah-atau-wakil-kepala-sekolah-juga-digunakan-untuk-tempat-rapat-pada-setiap-bagian-divisi {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 166px;
  top: 1864px;
  width: 548px;
}
.ruang-kerja-kepala-sekolah-dan-wakil-kepala-sekolah-bersebelahan-berada-tepat-di-depan-resepsionis-ruangan-ini-di-perkhususkan-untuk-kepala-sekolah-wakil-kepala-sekolah-dan-untuk-tamu-yang-di-ijinkan {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 701px;
  top: 1507px;
  width: 513px;
}
.kalian-dapat-menyampaikan-pada-staf-resepsionis-apa-bil-memiliki-kepentingan-dengan-bagian-divisi-kesiswaan-humas-persuratan-sarpras-kepegawaian-hingga-kepala-sekolah-maupun-wakil-kepala-sekolah-disini-siswa-siswi-smk-negeri-1-banyuwangi-juga-dapat-mengambil-absensi-kelas-masing-masing {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 697px;
  top: 655px;
  width: 522px;
}
.resepsionis {
  color: #000000;
  text-align: center;
  font-family: "Inter-BlackItalic", sans-serif;
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 758px;
  top: 591px;
  width: 321px;
  height: 64px;
}
.ruang-untuk-para-staf-fo-terdapat-fasilitas-seperti-komputer-meja-etalase-untuk-dokumen-monitor-cctv-dan-masih-ada-fasilitas-lainnya-juga-terdapat-stuktur-kepengurusan-mulai-dari-kepala-sekolah-hinggtiap-bagian-divisi-seperti-humas-kesiswaan-dan-lainny-selain-itu-terdapat-data-guru-yang-sudah-pensiun {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 166px;
  top: 1052px;
  width: 515px;
  height: 232px;
}
.ruang-tu {
  color: #000000;
  text-align: center;
  font-family: "Inter-BlackItalic", sans-serif;
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 196px;
  top: 989px;
  width: 255px;
  height: 63px;
}
.whats-app-image-2025-01-15-at-8-49-23-pm {
  border-radius: 10px;
  width: 492px;
  height: 284px;
  position: absolute;
  left: 148px;
  top: 623px;
  box-shadow: 25px 20px 15px 0px rgba(66, 61, 61, 1);
  object-fit: cover;
}
.ruang-fo {
  border-radius: 10px;
  width: 492px;
  height: 284px;
  position: absolute;
  left: 740px;
  top: 991px;
  box-shadow: 30px 25px 20px 0px rgba(66, 61, 61, 1);
  object-fit: cover;
}
.ruang-temu {
  color: #000000;
  text-align: left;
  font-family: "Inter-BlackItalic", sans-serif;
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 196px;
  top: 1787px;
}
.t-rapat {
  border-radius: 10px;
  width: 492px;
  height: 284px;
  position: absolute;
  left: 740px;
  top: 1803px;
  box-shadow: 30px 25px 20px 0px rgba(66, 61, 61, 1);
  object-fit: cover;
}
.ruang-kepsek-wakepsek {
  border-radius: 10px;
  width: 492px;
  height: 283px;
  position: absolute;
  left: 148px;
  top: 1388px;
  box-shadow: 30px 25px 20px 0px rgba(66, 61, 61, 1);
  object-fit: cover;
}
.ruang-kepsek-wakasek {
  color: #000000;
  text-align: left;
  font-family: "Inter-BlackItalic", sans-serif;
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 714px;
  top: 1369px;
}
.bagian-depan-fo {
  border-radius: 10px;
  width: 1090px;
  height: 345px;
  position: absolute;
  left: 151px;
  top: 182px;
  box-shadow: 30px 25px 20px 0px rgba(66, 61, 61, 1);
  object-fit: cover;
}
.line-67 {
  margin-top: -7px;
  border-style: solid;
  border-color: #a6cdc6;
  border-width: 7px 0 0 0;
  width: 1194px;
  height: 0px;
  position: absolute;
  left: 140px;
  top: 6053.28px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.jalan-wijaya-kusuma-no-46-mojopanggung-banyuwangi-phone-62-12345678-email-smkn-1-bwi-wkwkwk-gmail-com {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 226px;
  top: 5939.48px;
  width: 328px;
  height: 59.37px;
}
.smk-negeri-1-banyuwangi {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBoldItalic", sans-serif;
  font-size: 15px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  left: 317px;
  top: 5871.2px;
  width: 215px;
  height: 17.81px;
}
.front-office {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 32px;
  font-weight: 900;
  position: absolute;
  left: 317px;
  top: 5833.59px;
  width: 243px;
  height: 36.61px;
}
.group-30 {
  position: absolute;
  inset: 0;
}
.rectangle-82 {
  background: #a6cdc6;
  border-radius: 100px;
  width: 79px;
  height: 74.22px;
  position: absolute;
  left: 219px;
  top: 5833.59px;
}
.image-6 {
  width: 66px;
  height: 65.31px;
  position: absolute;
  left: 226px;
  top: 5838.54px;
  object-fit: cover;
}
.features {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 868px;
  top: 5838.54px;
  width: 103px;
  height: 23.75px;
}
.about-fo {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 680px;
  top: 5838.54px;
  width: 104px;
  height: 23.75px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 1034px;
  top: 5838.54px;
  width: 104px;
  height: 23.75px;
}
.group-31 {
  position: absolute;
  inset: 0;
}
._2025-knowledge-collective {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 582px;
  top: 6083.95px;
  width: 174px;
  height: 14.84px;
}
.copyright-smkn-1-banyuwangi-all-rights-reserved {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 790px;
  top: 6083.95px;
  width: 328px;
  height: 14.84px;
}
.copyright-ourweb-fo-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 380px;
  top: 6083.95px;
  width: 168px;
    height: 14.84px;}
/* }
.bagian-depan-fo2 {
  border-radius: 10px;
  width: 1090px;
  height: 345px;
  position: absolute;
  left: 171px;
  top: 2353px;
  box-shadow: 30px 25px 20px 0px rgba(66, 61, 61, 1);
  object-fit: cover;
}
.rectangle-14 {
  background: #16404d;
  width: 1071px;
  height: 434.2px;
  position: absolute;
  left: 201px;
  top: 2932.34px;
}
.rectangle-15 {
  background: #fbf5dd;
  width: 1071px;
  height: 372.9px;
  position: absolute;
  left: 201px;
  top: 3447.25px;
}
.rectangle-16 {
  background: #dda853;
  width: 1071px;
  height: 416.83px;
  position: absolute;
  left: 201px;
  top: 3950px;
}
.rectangle-17 {
  background: #fbf5dd;
  width: 1071px;
  height: 506.73px;
  position: absolute;
  left: 192px;
  top: 4495.45px;
}
.rectangle-18 {
  background: #16404d;
  width: 1071px;
  height: 337.14px;
  position: absolute;
  left: 180px;
  top: 5113px;
}
.kepegawaian {
  color: #fbf5dd;
  text-align: center;
  font-family: "Inter-BlackItalic", sans-serif;
  font-size: 128px;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 58px;
  top: 5053.27px;
  width: 1116.41px;
  height: 179.81px;
}
.humas {
  color: #16404d;
  text-align: center;
  font-family: "Inter-BlackItalic", sans-serif;
  font-size: 140px;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 56px;
  top: 3383.91px;
  width: 705.73px;
  height: 172.66px;
}
.smk-fo {
  width: 774.1px;
  height: 131.79px;
  position: absolute;
  left: 383px;
  top: 4282.95px;
  filter: blur(3px);
}
.kesiswaan {
  color: #f3f3e0;
  text-align: center;
  font-family: "Inter-BlackItalic", sans-serif;
  font-size: 140px;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 90px;
  top: 2869px;
  width: 991.59px;
  height: 176.74px;
}
.persuratan {
  color: #f3f3e0;
  text-align: center;
  font-family: "Inter-BlackItalic", sans-serif;
  font-size: 140px;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 100px;
  top: 3879.4px;
  width: 1046.54px;
  height: 172.66px;
}
.beberapa-contoh-kegiatan-di-bawah-naungan-kesiswaan-sendiri-salah-satu-adalah-kegiatan-pembelajaran-siswa {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 522px;
  top: 3209.21px;
  width: 716px;
  height: 123.62px;
}
.beberapa-contoh-kegiatan-di-bawah-naungan-kesiswaan-sendiri-salah-satu-adalah-kegiatan-pembelajaran-siswa-span {
  color: #ffffff;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}
.beberapa-contoh-kegiatan-di-bawah-naungan-kesiswaan-sendiri-salah-satu-adalah-kegiatan-pembelajaran-siswa-span2 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.kepegawaian-bertanggungjawab-atas-guru-staf-dan-pegawai-yang-ada-di-smk-negeri-1-banyuwangi {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 262px;
  top: 5233.08px;
  width: 858px;
  height: 132.81px;
}
.kepegawaian-bertanggungjawab-atas-guru-staf-dan-pegawai-yang-ada-di-smk-negeri-1-banyuwangi-span {
  color: #ffffff;
  font-family: "Inter-Black", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.kepegawaian-bertanggungjawab-atas-guru-staf-dan-pegawai-yang-ada-di-smk-negeri-1-banyuwangi-span2 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.kegiatan-siswa-ekstrakulikuler-dan-segala-kegiatan-yang-berhubungan-dengan-siswa-yang-ada-di-lingkungan-smk-ngeri-1-banyuwangi-berada-di-bawah-naungan-kesiswaan {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 262px;
  top: 3029.4px;
  width: 829px;
  height: 179.81px;
}
.kegiatan-siswa-ekstrakulikuler-dan-segala-kegiatan-yang-berhubungan-dengan-siswa-yang-ada-di-lingkungan-smk-ngeri-1-banyuwangi-berada-di-bawah-naungan-kesiswaan-span {
  color: #ffffff;
  font-family: "Inter-Black", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.kegiatan-siswa-ekstrakulikuler-dan-segala-kegiatan-yang-berhubungan-dengan-siswa-yang-ada-di-lingkungan-smk-ngeri-1-banyuwangi-berada-di-bawah-naungan-kesiswaan-span2 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.humas-sendiri-bertugas-untuk-mendokumentasikan-kegiatan-penting-yang-sedang-terjadi-pada-hari-itu-juga-bagian-untuk-menghubungi-pihak-lain-untuk-koordinasi-suatu-kegiatan {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 262px;
  top: 3580.06px;
  width: 955px;
  height: 127.71px;
}
.humas-sendiri-bertugas-untuk-mendokumentasikan-kegiatan-penting-yang-sedang-terjadi-pada-hari-itu-juga-bagian-untuk-menghubungi-pihak-lain-untuk-koordinasi-suatu-kegiatan-span {
  color: #000000;
  font-family: "Inter-Black", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.humas-sendiri-bertugas-untuk-mendokumentasikan-kegiatan-penting-yang-sedang-terjadi-pada-hari-itu-juga-bagian-untuk-menghubungi-pihak-lain-untuk-koordinasi-suatu-kegiatan-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.menangani-srat-surat-yang-masuk-dari-luar-untuk-di-sampaikan-pada-yang-bersangkutan-apabila-surat-tersebut-bersangkutan-dengan-siswa-maka-akan-di-sampaikan-kepada-kesiswaan-dan-begitu-pula-jika-bersangkutan-pada-yang-lainnya {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 262px;
  top: 4089.86px;
  width: 1010px;
  height: 167.55px;
}
.menangani-srat-surat-yang-masuk-dari-luar-untuk-di-sampaikan-pada-yang-bersangkutan-apabila-surat-tersebut-bersangkutan-dengan-siswa-maka-akan-di-sampaikan-kepada-kesiswaan-dan-begitu-pula-jika-bersangkutan-pada-yang-lainnya-span {
  color: #000000;
  font-family: "Inter-Black", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.menangani-srat-surat-yang-masuk-dari-luar-untuk-di-sampaikan-pada-yang-bersangkutan-apabila-surat-tersebut-bersangkutan-dengan-siswa-maka-akan-di-sampaikan-kepada-kesiswaan-dan-begitu-pula-jika-bersangkutan-pada-yang-lainnya-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.sarana-prasarana-bertanggung-jawab-atas-fasilitas-yang-ada-di-sekolah-mulai-dari-fasilitas-kelas-hingga-fasilitas-praktek-setiap-jurusan-siswa {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 262px;
  top: 4609.88px;
  width: 774px;
  height: 127.71px;
}
.sarana-prasarana-bertanggung-jawab-atas-fasilitas-yang-ada-di-sekolah-mulai-dari-fasilitas-kelas-hingga-fasilitas-praktek-setiap-jurusan-siswa-span {
  color: #000000;
  font-family: "Inter-Black", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.sarana-prasarana-bertanggung-jawab-atas-fasilitas-yang-ada-di-sekolah-mulai-dari-fasilitas-kelas-hingga-fasilitas-praktek-setiap-jurusan-siswa-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.selain-bertanggung-jawab-untuk-fasilitas-siswa-juga-bertanggung-awab-untuk-fasilitas-guru-yang-mngajar-di-smk-negeri-1-banyuwangi {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 373px;
  top: 4801.94px;
  width: 820px;
  height: 127.71px;
}
.selain-bertanggung-jawab-untuk-fasilitas-siswa-juga-bertanggung-awab-untuk-fasilitas-guru-yang-mngajar-di-smk-negeri-1-banyuwangi-span {
  color: #000000;
  font-family: "Inter-Black", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.selain-bertanggung-jawab-untuk-fasilitas-siswa-juga-bertanggung-awab-untuk-fasilitas-guru-yang-mngajar-di-smk-negeri-1-banyuwangi-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.sarpras {
  color: #16404d;
  text-align: center;
  font-family: "Inter-BlackItalic", sans-serif;
  font-size: 140px;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 58px;
  top: 4426px;
  width: 827.38px;
  height: 172.66px;
}
.group-102 {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #16404d;
  width: 1458px;
  height: 119px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-3 {
  width: 618px;
  height: 84px;
  position: static;
}
.group-2 {
  width: 618px;
  height: 84px;
  position: static;
}
.rectangle-2 {
  background: #d9d9d9;
  border-radius: 30px;
  width: 618px;
  height: 84px;
  position: absolute;
  left: 794px;
  top: 18px;
}
.group-1 {
  width: 494.95px;
  height: 48.58px;
  position: static;
}
.home {
  color: #000000;
  text-align: left;
  font-family: "Jomolhari-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 861.45px;
  top: 34.19px;
  width: 88.77px;
  height: 34.41px;
}
.struktur {
  color: #000000;
  text-align: left;
  font-family: "Jomolhari-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 985.42px;
  top: 34.19px;
  width: 121.23px;
  height: 48.58px;
}
.fasilitas {
  color: #000000;
  text-align: left;
  font-family: "Jomolhari-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1133.99px;
  top: 34.19px;
  width: 122.59px;
  height: 34.41px;
}
.faq {
  color: #000000;
  text-align: left;
  font-family: "Jomolhari-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1283.48px;
  top: 34.19px;
  width: 72.92px;
  height: 34.41px;
}
.front-office2 {
  color: #ffffff;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 70px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 608px);
  top: 18px;
}
.image-12 {
  width: 96px;
  height: 96px;
  position: absolute;
  left: 13px;
  top: 15px;
  object-fit: cover;
}
.rectangle-89 {
  background: rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  width: 1090px;
  height: 345px;
  position: absolute;
  left: 151px;
  top: 182px;
}
.ruang-fo2 {
  color: #ffffff;
  text-align: center;
  font-family: "Lateef-SemiBold", sans-serif;
  font-size: 129px;
  font-weight: 600;
  position: absolute;
  left: 490px;
  top: 256px;
}
.rectangle-90 {
  background: rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  width: 1090px;
  height: 345px;
  position: absolute;
  left: 171px;
  top: 2354px;
}
.divisi {
  color: #f3f3e0;
  text-align: center;
  font-family: "Lemonada-SemiBold", sans-serif;
  font-size: 99px;
  font-weight: 600;
  position: absolute;
  left: 342px;
  top: 2428px;
}
 */







/* 
.footer,
.footer * {
  box-sizing: border-box;
}
.footer {
  position: relative;
}
.bagroun {
  background: #16404d;
  border-radius: 90px;
  width: 1194px;
  height: 664px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.beranda-struktur-fasilitas-faq {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 721px;
  top: 85.1px;
  width: 81px;
  height: 67.29px;
}
.fo-adalah-salah-satu-fasilitas-di-smkn-1-banyuwangi-yang-mencakup-berbagai-hal {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 540px;
  top: 85.1px;
  width: 125px;
  height: 118.75px;
}
.maulana-dinar-pratama-12-maya-ayu-rosita-m-13-mild-apriliana-17-rahma-sarita-adenan-28-vaneilzha-kheyra-a-33-student-of-smkn-1-banyuwangi {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  left: 887px;
  top: 85.1px;
  width: 213px;
  height: 117.76px;
}
.maulana-dinar-pratama-12-maya-ayu-rosita-m-13-mild-apriliana-17-rahma-sarita-adenan-28-vaneilzha-kheyra-a-33-student-of-smkn-1-banyuwangi-span {
  color: #ffffff;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.maulana-dinar-pratama-12-maya-ayu-rosita-m-13-mild-apriliana-17-rahma-sarita-adenan-28-vaneilzha-kheyra-a-33-student-of-smkn-1-banyuwangi-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.jalan-wijaya-kusuma-no-46-mojopanggung-banyuwangi-phone-62-12345678-email-smkn-1-bwi-wkwkwk-gmail-com {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 86px;
  top: 144.48px;
  width: 328px;
  height: 59.37px;
}
.smk-negeri-1-banyuwangi {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBoldItalic", sans-serif;
  font-size: 15px;
  font-weight: 800;
  font-style: italic;
  position: absolute;
  left: 177px;
  top: 76.2px;
  width: 215px;
  height: 17.81px;
}
.front-office {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 32px;
  font-weight: 900;
  position: absolute;
  left: 177px;
  top: 38.59px;
  width: 243px;
  height: 36.61px;
}
.logo {
  width: 79px;
  height: 74.22px;
  position: static;
}
.rectangle-82 {
  background: #a6cdc6;
  border-radius: 100px;
  width: 79px;
  height: 74.22px;
  position: absolute;
  left: 79px;
  top: 38.59px;
}
.image-6 {
  width: 66px;
  height: 65.31px;
  position: absolute;
  left: 86px;
  top: 43.54px;
  object-fit: cover;
}
.features {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 728px;
  top: 43.54px;
  width: 103px;
  height: 23.75px;
}
.about-fo {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 540px;
  top: 43.54px;
  width: 104px;
  height: 23.75px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 894px;
  top: 43.54px;
  width: 104px;
  height: 23.75px;
}
._2025-knowledge-collective {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 442px;
  top: 288.95px;
  width: 174px;
  height: 14.84px;
}
.copyright-smkn-1-banyuwangi-all-rights-reserved {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 650px;
  top: 288.95px;
  width: 328px;
  height: 14.84px;
}
.copyright-ourweb-fo-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 240px;
  top: 288.95px;
  width: 168px;
  height: 14.84px;
}
.line {
  margin-top: -7px;
  border-style: solid;
  border-color: #a6cdc6;
  border-width: 7px 0 0 0;
  width: 1194px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 258.28px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
} */
