body{
    margin: 0;
    padding: 0;
    background-color: #FBF5DD;
}

.awal img{
   height: 110vh;
   width: 98.7vw;
}

.fntkbwh{
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 150px;
    font-size: 30PX;
}

.fontbwh{
    padding-top: 1px;
    margin-left: 150px;
    font-family: "Marcellus";
    font-size: 30PX;
}

.bagh{
    background-color: #A6CDC6;
    padding-top: 5px;
    margin-left: 150px;
    margin-right: 150px;
}

.navbar {
    background-color: #16404D;
    padding:10px;
    text-align: right;
}

.navbar ul {
    list-style:lower-alpha;
    margin: 5px;
    padding: 5px;
}

.navbar li {
    display: inline;
    font-size: 25px;
}

.navbar a {
    color:white;
    text-decoration: none;
    padding: 15px 20px;
}

.navbar a:hover {
    background-color:#DDA853;
    size: 5px 10px;
    border-radius: 30px;
}

.icon { 
    position: absolute;
    width: 55px;
    height: 55px;
    left: 10px;
    top: 5px;
}

.fo {
    color: white;
    font-family:'Inria' Serif;
    font-size: 40px;
    text-align: left;
    position: absolute;
    left: 80px;
}

.container {
    position: relative;
}

.text {
    position: relative;
    top: 500px;
    left: 50px;
}

.rectangle-1 {
    background: #A6CDC6;
    border: 6px solid #000000;
    border-radius: 2rem;
    width: 88vw;
    height: 50vh;
    position: relative;
    /* bottom: 0rem; */
    top: 50px;
    left: 60px;
}

.isi1 {
    color: #000000;
    text-align: center;
    font-family: "Marcellus";
    font-size: 4.5vh;
    font-weight: 15vw;
    position: relative;
    /* bottom: 7rem; */
    left: 3rem;
    width: 81vw;
    height: 45vh;
    text-align: left;
}

.rectangle-2 {
    background: #DDA853;
    border: 6px solid #000000;
    border-radius: 2rem;
    width: 88vw;
    height: 50vh;
    position: relative;
    top: 100px;
    left: 60px  ;
}

.isi2 {
    color: #000000;
    text-align: center;
    font-family: "Marcellus";
    font-size: 4.5vh;
    font-weight: 15vw;
    position: relative;
    /* bottom: 63rem; */
    left: 2rem;
    width: 81vw;
    height: 45vh;
    text-align: left;
}

.garistgh {
    /* margin-top: -5px; */
    border-style: solid;
    border-color: #000000;
    border-width: 5px 5px 5px 0;
    /* width: 3px; */
    height: 21rem;
    position: absolute;
    left: 560px;
    top: 0px;
    
}

.tmbl {
    position: relative;
    top: 250px;
}

.rectangle-3 {
    background: #A6CDC6;
    border-radius: 1.5rem;
    width: 26.3vw;
    height: 40vh;
    position:absolute;
    left: 100px;
}


.gmbr {
    position: relative;
    text-align: center;
    top: 20px;
}

.textrec {
    position: relative;
    top: 15px;
    font-size: 18px;
    text-align: center;
    bottom: 53rem;
}

.tttl {
    text-align: center;
    font-size: 2vw;
}

.footer {
    background-color: #16404D;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: 6.5rem;
    top: 5rem;
    width: 85vw;
    border-radius: 100px 100px 0px 0px;
    margin-top: 40rem;
    padding-top: 21rem;
    margin-left: 200px;
    margin-right: 200px; 
}
.rap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.circle2 {
    background-color: #a6cdc6 ;
    border-radius: 50%;
    object-fit:contain;
    position: absolute;
    width: 6vw;
    height: 11vh;
    top: 3rem;
    left: 5rem;
}
.linez {
    margin-top: 1rem;
    border-style: solid;
    border-color: #a6cdc6;
    border-width: 7px 0 0 0;
    width: 68rem;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 261px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}
.alamatz {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    left: 5rem;
    bottom: 7rem;
}
.jdlf {
    color: #ffffff;
    font-family: "Inter-SemiBold", sans-serif;
    text-align: left;
    font-size: 25px;
    font-weight: 900;
    position: absolute;
    left: 11rem;
    top: 2.8rem;
}
.jdls {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-ExtraBoldItalic", sans-serif;
    font-size: 13px;
    font-weight: 800;
    font-style: italic;
    position: absolute;
    left: 11rem;
    top: 5rem;
}
.about-fo {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 30rem;
    top: 3.2rem;
}
.abtfo {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 30rem;
    top: 6rem;
    width: 7rem;
}
.features {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 40rem;
    top: 3.2rem;
}
.feature {
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 38.5rem;
    top: 5rem;
}
.feature li{
    color: #ffffff;
}
.feature li a {
    color: #ffffff;
    text-decoration: none;
}
.feature li:hover {
    text-decoration: underline;
}
.about-us {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 49rem;
    top: 3.2rem;
}
.abtus {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 49rem;
    top: 5rem;
}
.span1 {
    color: #ffffff;
    list-style-type: disc;
    padding-left: 1em;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.span2 {
    color: #ffffff;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.cp {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    left: 13rem;
    bottom: 1rem;
}

/* .plyn{
    color: #000000;
    text-align: center;
    font-family: "Lusitana-Regular", sans-serif;
    font-size: 400px;
    line-height: 65px;
    font-weight: 400;
    position: absolute;
    left: 17px;
    top: 60px;
} */