.body{
    padding-top: 0;
    background-color: #FBF5DD;
}

.awal img{
<<<<<<< HEAD
    height: 62rem;
    width: 112rem;
=======
   block-size: auto;
   min-block-size: 88.5rem;
>>>>>>> 93257c6e0745ad11395c086451fd80c6e1657566
}

.fntkbwh{
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 150px;
    font-size: 30PX;
}

.fontbwh{
    padding-top: 1px;
    margin-left: 150px;
    font-family: "Marcellus";
    font-size: 30PX;
}

.bagh{
    background-color: #A6CDC6;
    padding-top: 5px;
    margin-left: 150px;
    margin-right: 150px;
}

.navbar {
    background-color: #16404D;
    padding:10px;
    text-align: right;
}

.navbar ul {
    list-style:lower-alpha;
    margin: 5px;
    padding: 5px;
}

.navbar li {
    display: inline;
    font-size: 25px;
}

.navbar a {
    color:white;
    text-decoration: none;
    padding: 15px 20px;
}

.navbar a:hover {
    background-color:#DDA853;
    size: 5px 10px;
    border-radius: 30px;
}

.icon { 
    position: absolute;
    width: 55px;
    height: 55px;
    left: 10px;
    top: 5px;
}

.fo {
    color: white;
    font-family:'Inria' Serif;
    font-size: 40px;
    text-align: left;
    position: absolute;
    left: 80px;
}

.container {
    position: relative;
}

.text {
    position: relative;
    top: 500px;
    left: 50px;
}

.rectangle-1 {
    background: #A6CDC6;
    border: 6px solid #000000;
    border-radius: 2rem;
    width: 92vw;
    height: 55vh;
    position: relative;
    bottom: 28rem;
}

.isi1 {
    color: #000000;
    text-align: center;
    font-family: "Marcellus";
    font-size: 4.5vh;
    font-weight: 15vw;
    position: relative;
    bottom: 51rem;
    left: 3rem;
    width: 85vw;
    height: 45vh;
    text-align: left;
}

.rectangle-2 {
    background: #DDA853;
    border: 6px solid #000000;
    border-radius: 2rem;
    width: 92vw;
    height: 50vh;
    position: relative;
    bottom: 46rem;
}

.isi2 {
    color: #000000;
    text-align: center;
    font-family: "Marcellus";
    font-size: 4.5vh;
    font-weight: 15vw;
    position: relative;
    bottom: 70rem;
    left: 3rem;
    width: 85vw;
    height: 45vh;
    text-align: left;
}

.rectangle-3 {
    background: #A6CDC6;
    border-radius: 2rem;
    width: 25vw;
    height: 55vh;
    position: relative;
    bottom: 28rem;
    left: 70px;
}

.rectangle-4 {
    background: #16404D;
    border-radius: 2rem;
    width: 25vw;
    height: 55vh;
    left: 580px;
    position: relative;
    bottom: 55rem;
}

.rectangle-5 {
    background: #DDA853;
    border-radius: 2rem;
    width: 25vw;
    height: 55vh;
    left: 1100px;
    position: relative;
    bottom: 82rem;
}