.gambar img {
    top:90px;
    width: auto;
    height: auto;
    left: 500px;

}

.judul_struktur {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    top: 50px;
    font-weight: 400;
}